<?xml version="1.0" ?>
<config>
  <modules>
    <Mygento_Eventmon>
      <version>1.0.0</version>
    </Mygento_Eventmon>
  </modules>
  <global>
    <helpers>
      <eventmon>
        <class>Mygento_Eventmon_Helper</class>
      </eventmon>
    </helpers>
  </global>
  <adminhtml>
    <translate>
      <modules>
        <eventmon>
          <files>
            <default>Mygento_Eventmon.csv</default>
          </files>
        </eventmon>
      </modules>
    </translate>
  </adminhtml>
  <frontend>
    <translate>
      <modules>
        <eventmon>
          <files>
            <default>Mygento_Eventmon.csv</default>
          </files>
        </eventmon>
      </modules>
    </translate>
  </frontend>
</config>
