<?xml version="1.0" ?>
<config>
    <modules>
        <Mygento_Eventmon>
            <version>1.2.0</version>
        </Mygento_Eventmon>
    </modules>
    <default>
        <eventmon>
            <general>
                <enabled>1</enabled>
                <debug>0</debug>
                <keep>180</keep>
            </general>
        </eventmon>
    </default>
    <global>
        <blocks>
            <eventmon>
                <class>Mygento_Eventmon_Block</class>
            </eventmon>
        </blocks>
        <models>
            <eventmon>
                <class>Mygento_Eventmon_Model</class>
                <resourceModel>eventmon_resource</resourceModel>
            </eventmon>
            <eventmon_resource>
                <class>Mygento_Eventmon_Model_Resource</class>
                <deprecatedNode>eventmon_mysql4</deprecatedNode>
                <entities>
                    <event>
                        <table>mygento_eventmon_events</table>
                    </event>
                </entities>
            </eventmon_resource>
        </models>
        <helpers>
            <eventmon>
                <class>Mygento_Eventmon_Helper</class>
            </eventmon>
        </helpers>
        <resources>
            <eventmon_setup>
                <setup>
                    <module>Mygento_Eventmon</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </eventmon_setup>
            <eventmon_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </eventmon_write>
            <eventmon_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </eventmon_read>
        </resources>
    </global>
    <crontab>
        <jobs>
            <eventmon_clean>
                <schedule>
                    <cron_expr>* 1,3,5,7,9,11,13,15,17,19,21,23 * * *</cron_expr>
                </schedule>
                <run>
                    <model>eventmon/event::clean</model>
                </run>
            </eventmon_clean>
        </jobs>
    </crontab>
    <admin>
        <routers>
            <eventmon>
                <use>admin</use>
                <args>
                    <module>Mygento_Eventmon</module>
                    <frontName>eventmon</frontName>
                </args>
            </eventmon>
        </routers>
    </admin>

    <adminhtml>
        <menu>
            <mygento translate="title" module="eventmon">
                <title>Mygento Extensions</title>
                <sort_order>60</sort_order>
                <children>
                    <eventmon translate="title" module="eventmon">
                        <title>Event Monitoring</title>
                        <sort_order>60</sort_order>
                        <children>
                            <index translate="title" module="eventmon">
                                <title>Events</title>
                                <sort_order>10</sort_order>
                                <action>eventmon/adminhtml_index</action>
                            </index>
                        </children>
                    </eventmon>
                </children>
            </mygento>
        </menu>
        <translate>
            <modules>
                <eventmon>
                    <files>
                        <default>Mygento_Eventmon.csv</default>
                    </files>
                </eventmon>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <eventmon>
                                            <title>Event Monitoring</title>
                                        </eventmon>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        
        <layout>
            <updates>
                <eventmon>
                    <file>mygento/eventmon.xml</file>
                </eventmon>
            </updates>
        </layout>
    </adminhtml>
</config>
